@font-face {
    font-family: "Lexend Deca";
    src: url("/assets/LexendDeca-VariableFont_wght.ttf") format("truetype");
  }
  
  :root {
    height: 100vh;
    width: 100vw;
  
    font-family: "Lexend Deca", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #4d3537;
    background-color: #fceff1;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  #logo {
    display: flex;
    font-size:  75px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    padding: 1rem;
  }
  
  #welcome {
    line-height: 5vh;
    font-size: 28px;
    padding: 4.5rem;
  }
  
  #butt {
    margin-bottom: 50vh;
    padding-left: 4.5rem;
    padding-bottom: 1rem;
  }
  
  
  input,
  button {
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 540;
    background-color: #cfaaaa;
    color: #0f0f0f;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background-color: #b27a7a;
    color: #ffffff;
  }
  
  button {
    cursor: pointer;
  }
  
  button:hover {
    border-color: #396cd8;
  }
  button:active {
    border-color: #396cd8;
    background-color: #e8e8e8;
  }
  
  input,
  button {
    outline: none;
  }
  
  
  @media (prefers-color-scheme: dark) {
  }
  