@font-face {
  font-family: "Lexend";
  src: url("./Lexend-Variable.ttf") format("truetype-variations");
  font-weight: 350;
}

:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: #F7D8E2;
  --light-article-bg: #F5EFF7;
  --light-text: black;
  --light-text-title: #333;

  --dark-bg: #000;
  --dark-article-bg: #696470;
  --dark-text: #111;
  --dark-text-title: ghostwhite;
}

.light {
  /* forces light color-scheme */
  color-scheme: light;
}

.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

body {
  padding: 1rem;
  font-family: 'Lexend', 'Garamond', 'Helvetica';
  margin: 0;
  display: flex;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.main-content {
  flex: 1;
  padding: 3rem;
  column-count: 3;
  /* column-gap: 1rem; */
}

.top-right-button {
  background-color: inherit;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* ----------------- MENU --------------------- */


.switch {
  font-size: 2rem;
  position: absolute;
  height: min-content;
  width: max-content;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: min-content;
  padding: 0 1rem 0 1rem;
  font-family: verdana;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.switch:before {
  content: "  ";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3rem;
  background: inherit;
  border-radius: 5px;
}

.switch__label {
  color: #2c2929;
  display: inline-block;
  width: 2rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
}

.switch__label:hover {
  color: rgb(0, 0, 0);
}

.switch__indicator {
  box-shadow: 1px 1px 1px 1px #000000;
  opacity: 0.2;
  width: 3.5rem;
  height: 5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  position: absolute;
  top: -1rem;
  left: 0;
  background: blue;
  border-radius: 20%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
  transform: translate3d(1rem, 0, 0);

}

.switch input#one:checked~.switch__indicator {
  background: #D9CAA6;
  transform: translate3d(0.9rem, 0, 0);
}

.switch input#two:checked~.switch__indicator {
  background: #A6B5D9;
  transform: translate3d(5.5rem, 0, 0);
}

/* .switch input#three:checked ~ .switch__indicator {
  background: PaleVioletRed;
  transform: translate3d(10.6rem, 0, 0);
} */
.switch input[type=radio]:not(:checked),
.switch input[type=radio]:checked {
  display: none;
}

/* ------------------ POSTS --------------------------  */


.post-bg {
  color: #ffffff;
  padding: 0.3rem;
  border-radius: 6px;
  /* background-position: 4rem; */
  background-size: contain;
  box-shadow: -3px -1px 0px 1px #252222d2;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  transition: all;
  transition-delay: 0.1s;
  transition-duration: 0.8s;
}

.post-bg:hover {
  box-shadow: 3px -1px 0px 1px #252222d2;
}
/* .post-bg:hover {
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.257),
      rgba(0, 0, 0, 0.864)), repeating-radial-gradient(#dccf5d51, #584af26a 50px);
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.158),
      rgba(0, 0, 0, 0.388)), url("../assets/girl-garden-border-cover.svg"), linear-gradient(to top,
      rgba(255, 255, 255, 0.112),
      rgba(0, 0, 0, 0.338)), url("../assets/girl-garden-border-cover.svg");
      filter: blur(59%);
} */

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
  font-kerning: none;
}


/* ------------ RESPONSIVE BULLSHIT ------------------- */


@media screen and (max-width: 767px) {
  body {
    padding: 1rem;
  }

  .main-content {
    column-gap: 1rem;
    column-count: 1;
  }

  .switch {
    top: 2.5vh;
  }

  h4 {
    font-size: 8vw;
  }
}

@media screen and (min-width: 900px) {
  h4 {
    font-size: 6vh;
  }
}

@media screen and (max-height: 880px) {
  .switch {
    top: 4.5vh;
  }

}

@media screen and (max-height: 580px) {
  .switch {
    top: 6vh;
  }


}

@media screen and (max-height: 380px) {
  .switch {
    top: 9vh;
  }
  .main-content {
    column-count: 1;
  }
}

@media screen and (min-width: 650px) {
  .main-content {
    column-count: 3;
  }

  h4 {
    font-size: 4vh;
  }
}