<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="create/style.css">
  <script src="../assets/htmx.min.js"></script>
  <script>
    function csshome() {
      const boxes = document.querySelectorAll('.post-bg');
      boxes.forEach(box => {
        let url = box.getAttribute('data-src');
        let cssraw = [];
        if (url) {
          // box.style.backgroundImage = `url(${url})`;
          const cssRule = `
                        .post-bg[data-src="${url}"] {
                            background-image: 
                                linear-gradient(to bottom, rgba(255, 255, 255, 0.158), rgba(0, 0, 0, 0.388)), 
                                url(${url});
                        }
                        .post-bg[data-src="${url}"]:hover {
                            background-image: 
                                linear-gradient(to bottom, rgba(255, 255, 255, 0.158), rgba(0, 0, 0, 0.388)), 
                                url(${url}), 
                                linear-gradient(to top, rgba(255, 255, 255, 0.112), rgba(0, 0, 0, 0.338)), 
                                url(${url});
                        }
                    `;
          cssraw.push(cssRule);
        }
        let cssp = cssraw.join('\n');
        const style = document.createElement('style');
        style.type = 'text/css';
        style.appendChild(document.createTextNode(cssp));
        document.head.appendChild(style);
      });
    };

    function changecontent() {
      let m = document.querySelector('.main-content');
      if (m) {
        let at = m.getAttribute('data-content');
        if (at == "create") {
          m.setAttribute('data-content', 'home')
        } else {
          m.setAttribute('data-content', 'create')
        }
      }
    }
    function mode() {
      let body = document.getElementById("body");
      let butt = document.getElementById("butt");
      if (body.className.match("dark")) {
        body.className = "light"
        butt.innerHTML = "🌙"
      }
      else {
        body.className = "dark"
        butt.innerHTML = "🌞"
      }
    }

  </script>
  <script>
    function update_buffer() {
      let content = document.querySelector(".article-content").innerText;
      let title = document.querySelector(".article-title").innerText;
      let id = document.querySelector(".article").getAttribute('data-id');
      if (id) {
        window.__TAURI__.tauri.invoke('update_buffer', { content: content,
        title: title, id: id })
      }
      else {
        window.__TAURI__.tauri.invoke('new_journal', { content: content,
        title: title }).then((m) => {
          console.log("new journal detected")
          document.querySelector(".article").setAttribute("data-id", m)
        })
      }
    }

    function debounceUpdateBuffer() {
      let timeout;
      const articleContent = document.querySelector('.article-content');

      articleContent.addEventListener('input', function () {
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          update_buffer();
        }, 2000);
      });
    }

    document.addEventListener('DOMContentLoaded', debounceUpdateBuffer);


  </script>
</head>

<body class="light" id="body">
  <div class="switch">
    <input name="switch" id="one" type="radio" hx-get="/api/home" hx-trigger="click" hx-target=".main-content"
      hx-swap="innerHTML swap:1s" tabindex="0" />
    <label for="one" class="switch__label"> 🏡</label>
    <input name="switch" id="two" type="radio" hx-get="/api/create" hx-trigger="click" hx-target=".main-content"
      hx-swap="innerHTML" tabindex="1" checked />
    <label for="two" class="switch__label">🌻</label>
    <!-- <input name="switch" id="three" type="radio" />
      <label for="three" class="switch__label">?</label> -->
    <div class="switch__indicator" />
  </div>
  </div>
  <button class="top-right-button" onClick="mode()" id="butt">🌙</button>
  <main class="main-content" data-content="home" hx-on::after-settle="changecontent();csshome()" hx-get="/api/create" hx-trigger="load">
    <br style="opacity: 0;">
    <article class="article" >
      <h4 class="date">Friday, May 3, 2024</h4>
      <h2 class="article-title" contenteditable="true" data-ph="your title for the day"></h2>
      <hr class="hbar">
      <p class="article-content" contenteditable="true" data-ph="..." data-height="100vh"></p>
    </article>

  </main>

</body>

</html>